/* Osnovni izgled za Kanban Board */
.kanban-board {
  display: flex;
  justify-content: space-between;
  gap: 20px;  
  padding: 20px;
  flex-wrap: wrap;
}

.addButton {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px
}

.addButtonPlusICON {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: white;
  padding: 0;
  width: auto;
  height: auto;
  cursor: pointer;
}

.addButtonPlusICON:hover {
  font-size: 35px;
  right: 9px;
}

.kanban-column-ToDo h2 {
  background-color: #4F46E5;
}

.kanban-column-InProgress h2 {
  background-color: #F59E0B;
}

.kanban-column-Done h2 {
  background-color: #22C55E;
}

.kanban-column {
  width: 30%;
  min-height: 400px;
  background-color: #F8FAFC;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.kanban-column h2 {
  position: relative;
  text-align: left;
  color: white;
  font-size: 1.2rem;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 25px;
}

/* Hover na koloni */
.kanban-column.cdk-drop-list-dragging {
  background-color: #e6e6e6;
}

.task-card {
  background-color: white;
  border: 1px solid #E2E8F0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  cursor: move;
  transition: transform 0.3s ease;
}

/* Animacija povlačenja kartice */
.task-card.cdk-drag-preview {
  opacity: 0.7;
  transform: scale(1.1);
}

.task-card.cdk-drag-placeholder {
  background-color: #f0f0f0;
  border: 1px dashed #ccc;
  border-color: #ccc;
  visibility: hidden;
}

/* Stilovi za responzivnost, širina u postotcima zbog toga što lijepše izgleda */
@media (max-width: 960px) {
  .kanban-column {
    width: 46%;
  }
}

@media (max-width: 600px) {
  .kanban-column {
    width: 100%;
  }
}

.kanban-board {
  max-width: 1200px;
  margin: 0 auto;
}

.kanban-column h2 {
  font-size: 1.5rem;
}

.kanban-column .task-card {
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.kanban-column .task-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid #cbd5e1;
}
.sortOptions {
  display: flex;
  align-items: center;
  padding-left: 200px;
  font-weight: bold;
  font-size: 14px;
  gap: 10px;
}

.tab {
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #d3d3d3;
}

.active {
  border-bottom: 3px solid #4F46E5;
  font-weight: bold;
}

.search-container {
  margin-bottom: 30px;
}

.search-input {
  width: 80%;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.nav-tabs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-tab {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #333;
  font-size: 18px;
  font-weight: bold;
  gap: 20px;
}

.nav-tab:hover {
  background-color: #f5f5f5;
}

.nav-tab.active {
  background-color: #4F46E5;
  color: white;
  font-weight: bold;
}

.app-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* SideBar */
.sidebar {
  width: 200px;
  background-color: white;
  height: 100%;
  padding: 20px;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  flex-shrink: 0;  
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

/* TopBar */
.top-bar {
  background-color: #f8fafc;
  padding-left: 25px;
  text-align: left;
  color: #1e293b;
  font-size: 24px;
}

.content-area {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.Slothui {
  width: 69px;
  height: 17px;
  color: #1E293B;
  font-size: 20px;
  padding-bottom: 50px;
  font-weight: bold;
}